@font-face{
  font-family: myfont;
  src: url("Montserrat.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont, sans-serif;
    color: #303433;
}

body {
 position: relative; 
}
.main_container{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(22,129,196);
background: linear-gradient(9deg, rgba(22,129,196,1) 0%, rgba(243,243,243,1) 28%);
position: absolute;
z-index: 0;
}
.popup{
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
position: absolute;
z-index: 1;
display: flex;
justify-content: center;
 animation-name: popupKeyFrame;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    padding-bottom: 2em;
  display:none;
}
@keyframes popupKeyFrame{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
   opacity: 1;
  }
}
.popup .container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5%;
}
.popup .container #btclose{
  float: right;
  background: transparent;
  padding: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #ccc;
  cursor: pointer;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.popup .container #btclose i{ 
font-size: 1.5em;
  color: white;
}
.popup .subcontainer{
  background: whitesmoke;
  width: 100%;
  height: 80%;
  padding: 0.5em;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.popup .subcontainer h6{
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}
.popup .cardContainer{
overflow-y: scroll;
overflow-x: hidden;
padding-bottom: 1em;
margin-bottom: 20px;
scroll-behavior: smooth;
justify-self: center;

}
.cardContainer::-webkit-scrollbar{
  width: 0.6vw;
  background-color: transparent;
}
.cardContainer::-webkit-scrollbar-track{
  box-shadow: inset0 0 5px grey;
  border-radius: 10px;
  transition: .3s;
}
.cardContainer::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, transparent,lightgrey);
  border-radius: 10px;
}
.cardContainer::-webkit-scrollbar-thumb:hover{
  background: #ccc;
  border-radius: 10px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result i{
  align-self: center;
  padding: 0.3em;
  font-size: 2.5em;
  color: limegreen;
  width: 2em;
  height:2em ;
  border-radius: 50%;
  border: 0.2em solid limegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: resultKeyFrame;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes resultKeyFrame{
  0%{
    width: 0.5em;
    height: 0.5em;
    font-size: 1em;
  }
  50%{
    width: 1em;
    height: 1em;
    font-size: 2em;
  }
  100%{
    width: 2em;
    height: 2em;
    font-size: 2.5em;
  }
}
section.side {
    background-size: 100% 102%;
    display: flex;
    align-items: center;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 500px;
    border-radius: 10px;
   rotate: -10deg;
   box-shadow: 5px 5px 3px #ccc;
    /* Set width and height as needed */
}


.carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}
.carousel-item img{
  width: 100%;
}
.carousel1 {
    display: flex;
    overflow: hidden;
   width: 100%;
    height: 98%;
    background: whitesmoke;
    margin: 1em;
}
#popup1{
    display: none;
}

.carousel-item1 {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
    width: 20%;
    height: 100%;
}
.carousel-item1 img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.forms-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    color:#449ed7;
}
.title::first-letter{
  text-transform: lowercase;
}
.separator {
    width: 60%;
    height: 4px;
    margin: 14px;
    background: rgb(0,101,148);
background: linear-gradient(90deg, rgba(0,101,148,1) 70%, rgba(150,165,175,1) 70%, rgba(8,53,83,1) 70%, rgba(217,217,217,1) 50%);
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    color: #696969;
}

.forms-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-top: 24px;
}
.forms-form span{
font-size: 0.8em;
color: tomato;
animation: .3s openErrors linear;
display: none;
}
@keyframes openErrors{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

input,
button {
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}
#photo::-webkit-file-upload-button {
display: none;
}
input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color   0.4s;
}

input:focus ~ i {
    color: #1681c4;
}
#image-preview img{
  width: 30%;
  height: 40%;
  object-fit: contain;
  border-radius: 7px;
  box-shadow: 0px 0px 4px #1681c4;
  padding: 0.1em;
}
button.submit {
    color: #fff;
    padding: 14px 64px;
    min-width: 70%;
    letter-spacing: 0px;
    font-weight: 550;
   background: #006594;
    cursor: pointer;
    transition: .3s;
    border-radius: 20px;
    align-self: center;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      margin-top: 24px;
    gap: 0.2em;
}
.popup .expcont{
  width: 100%;
  display: flex;
  justify-content: right;
}
.popup .expcont button{
  margin-right: 30%;
  cursor: pointer;
  padding: 0.3em;
  background: #ccc;
  border-radius: 3px;
}
#popup1 img{
width: 100%;
height: 100%;
object-fit: contain;
}
#popup1 button{
  margin-top: 1%;
  background: transparent;
  margin-left: 1.5em;
 
}
#popup1 button i{
  color: white;
   font-size: 1.5em;
}
.popup .card{
  width: 300px;
  min-height: 500px;
  margin-bottom: 10px;
  background: url(back1.png) no-repeat;
  background-size: 100% 100%;
font-family:myfont, sans-serif;

}

.popup .containing{
 padding: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.popup .card .cardTop{
 border-radius: 20px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.cardTop .imgcontainer{
  margin-top: 0.9em;
}
.cardTop .imgcontainer img{
  width: 8em;
  height: 8em;
  margin-left: 0.9em;
  padding: 0.130em;
  border-radius: 50%;
  border: 1.5px solid white;
}

.cardTop .cardbody{
  display: flex;
  flex-direction: column;
 align-items: center;
 padding-top: 4em;
 width: 100%;
 color: #006594;
}
.cardTop .cardbody .cardDesc{
  width: 100%;
}
.cardTop .cardbody p{
  color: #006594;
  word-wrap:break-word;
}
.cardTop .namecont{
background: #006594;
width: 100%;
height: auto;
justify-self: left;
margin-top: 0.7em;
}
.cardbody #bname{
  font-size: 1.15em;
  width: 100%;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
  max-lines: 2;
  color: #fff;
  margin-bottom: 2px;
  
}

.cardbody #bcode{
  font-size: 1.2em;
  font-weight: 600;
  text-align: right;
  margin-right: 1em;
  margin-top: -1em;
  color: #006594;
}
.cardbody #desc{
  font-size: 1em;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px #006594;
}
.cardbody .telcont{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.cardbody .telcont img{
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 background: #083553;
 padding: 0.5em;
 border: 1px solid #ccc;
 margin-left: 0.4em;

}
.cardbody .telcont p{
  align-self: center;
  font-size: 1.1em;
  font-weight: 600;
}
.qrBox{
  float: right;
  margin-right: 1.5em;
  margin-top:1em;
}
#qrImage{
  border: 2px solid #ccc;
  padding: 2px;
}
.buttondiv{
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.buttondiv button{
  padding: 10px;
  border-radius: 7px;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
  background: #006594;
  transition: .3s;
}
.loader {
  border: 0.2em solid #f3f3f3; /* Light grey */
  border-top: 0.2em solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  animation: spin 1s linear infinite;
  display: block;
}
.pubcont{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: -3.6em;
  margin-bottom: 1em;
  margin-right: 1.5em;
  display: none;
}
.pubcont .button{
background: white;
padding: 0.7em 1.5em;
border-radius: 6px;
font-size: 0.8em;
color: #006594;
font-weight: 600;
box-shadow: 0px 0px 8px #ccc;
cursor: pointer;
}
.pubcont .ticket{
  margin-top: -1em;
  rotate: 15deg;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
        0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
      }
.pubcont span{
  background: red;
  color: white;
  margin-left: -1.5em;
  font-size: 0.7em;
  border-radius: 5px;
  padding: 0.5em;
  
}
@keyframes fill {
 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.buttondiv button i{
  color: white;
  margin-right: 5px;
  padding: 3px 0px;
  font-size: 1.2em;
}

.little_footer{
  margin-top: 4em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.little_footer button{
  background: whitesmoke;
  color: #449ed7;
  max-width: 80%;
  padding: 1em;
  font-size: 0.9em;
  font-weight: 600;
  animation: 3s animate linear infinite;
  cursor: pointer;
}
@keyframes animate{
  0%{
    box-shadow: 0px 0px 0px #ccc; 
  }
  50%{
    box-shadow: 1px 1px 7px #ccc; 
  }
  80%{
    box-shadow: 1px 1px 15px #ccc; 
  }
  100%{
    box-shadow: 1px 1px 15px #ccc; 
  }
}
.little_footer button i{
margin-left: 0.2em;
font-size: 1.2em;
color:  #083553;
}


button.submit:hover, .buttondiv button:hover {
    background: #083553;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

    .main_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup .container {
       width: 100%;
       margin-left: 5px;
       margin-right: 5px;
    }
    .side,.carousel {
        display: none;
    }
    #popup1 .carousel{
      display: flex;
    }
    .popup .subcontainer{
      height: 91%;
    }
    /*.card{
      width: 100%;
      margin: 1em;
    }*/
    .popup .cardContainer{
      overflow-x: scroll;
    }
   .popup .container #btclose{
      width: 20px;
      height: 20px;
      border: 3px solid #ccc;
    }
     .popup .container #btclose i{
     font-size: 1em;
    }
    .pubcont{
      display: flex;
    }
    .popup .expcont button{
margin-right: 0.3em;
    }
}
